<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>
		<Console name="Console" target="SYSTEM.OUT">
			<PatternLayout
				pattern="%d{ISO8601} [%t] (%F:%L) %-5level %logger{%36}-%msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>